<a href="https://colab.research.google.com/github/GoAshim/EDA/blob/main/EDA_1_NBA_Player_Stats_for_Entire_Career.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scrap the entire career statistics of all NBA Players played in 2021-22 season.
In this web scraping exercise we will revisit what we did on our first assignment and take it further. We are going to start with the page containing the 2021-22 NBA Player Stats from Basketball Reference site (link [here](https://www.basketball-reference.com/leagues/NBA_2022_totals.html)). Instead of scraping the statistics of only 2021-22 season (as we did on our first exercise), we are going to find each player played in 2021-22 season from the table in the link mentioned above, then go to the page of each individual player and scrap the statistics of their entire career.


## Summary
Basketball Reference has provided the stats of all NBA players for the 2021-22 season in tabular form on the above link. We are going to identify the table, find out the URL link of every player from that table, then for each player we will go to their respective URL to scrap relevant data and load that on a dataframe. At the end the dataframe will have the the entire career statistics of all NBA Players played in 2021-22 season.

### Step 1 - Import required libraries

In [1]:
import pandas as pd

### Step 2 - Extract the content of the CSV data file and load to a dataframe

In [5]:
# Location of the CSV file in my Google Drive
url = "/content/drive/MyDrive/DataFiles/NBAPlayerStat.csv"

df1 = pd.read_csv(url)

df1.head()

,Unnamed: 0,C1,C2,C3,C4,C5,C6,C7,C8,C9,...,C24,C25,C26,C27,C28,C29,C30,C31,C32,C33
0,0,1,Precious Achiuwa,Regular,2020-21,21,MIA,NBA,PF,61,...,0.509,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0
1,1,1,Precious Achiuwa,Regular,2021-22,22,TOR,NBA,C,73,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
2,2,1,Precious Achiuwa,Playoff,2020-21,21,MIA,NBA,PF,3,...,0.250,0.0,2.0,2.0,0.0,0.0,0.7,1.3,0.3,2.3
3,3,1,Precious Achiuwa,Playoff,2021-22,22,TOR,NBA,C,6,...,0.600,1.3,3.5,4.8,1.0,0.2,0.8,1.5,2.3,10.2
4,0,2,Steven Adams,Regular,2013-14,20,OKC,NBA,C,81,...,0.581,1.8,2.3,4.1,0.5,0.5,0.7,0.9,2.5,3.3

### Step 3 - Locate the table within the starting page where the stats of all players in 2021-22 season are listed

### Step 4 - Print the name and the link of the individual page for the first 5 players in the 2021-22 season.

### Step 5 - Extract the entire career statistics of one player of both regular as well as playoff season, if applicable.

### Step 6 - Create a function which will take parameters of each player and will find the career statistics of that player of both regular as well as playoff season, if applicable. The function will populate that career statistics into a dataframe and will return that dataframe.

### Step 7 - Loop through the table containing the statistics of 2021-22 season of every players from the main page. Pass the info of first 5 players to the function created above to store the statistics of entire career of every player into a dataframe.

### Step 8 - Repeat the above step to collect the entire career statistics of every player played in the 2021-22 season and store that into a dataframe. We will print the name of each player, that way if the code fails while executing due to some missing tag, we will know for which player that happened.

### Step 9 - By printing the name of each player in the above block, we found that the code is getting error for the player name 'Thanasis Antetokounmpo'. Upon manually checking his individual career page we found that he did not play for certain years and hence have no data for those years. To accomodate that issue, let's modify the function we created to fetch the career statistics of each player.

### Step 10 - Repeat the step 8 above to collect the entire career statistics of every player played in the 2021-22 season and store that into a dataframe. Only this time we will call the updated function we created in step 9 above..

### Step 11 - The above code took about 4 minute 30 seconds to collect the entire career statistics of each player played in the 2021-22 season and store that to a dataframe. Now let's inspect the dataframe and then save it to a CSV file for future analysis.